<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.es.shop.inventory.mapper.productinventory.ProductInventoryMapper">

    <!--查询商品库存缓存-->
    <select id="queryOne" resultType="com.es.shop.inventory.entity.ProductInventoryDO">
        select * from product_inventory where id = #{id}
    </select>

    <!--更新商品库存缓存-->
    <select id="update" resultType="java.lang.Integer">
        update product_inventory set inventory_cnt = #{inventoryCnt} where id = #{id}
    </select>
</mapper>